fastapi
pydantic
uvicorn
pymongo
pydantic[email]
python-multipart
bcrypt==4.3.0
python-jose[cryptography]
requests
passlib[bcrypt]
python-dotenv
#source /Users/shreyasg/Desktop/payment/env/bin/activate